<div class="text-center jumbotron back">
  <h1 class="display-4 animated fadeInUp">Welcome to Freelancers!</h1>
  <br>
  <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt harum debitis velit repellendus,
    ullam ducimus commodi possimus eos maxime ipsum quaerat nobis pariatur fugit ab. Quia, vel. Optio, accusantium
    iusto?</p>
  <hr class="my-4">
  <div class = "row justify-content-around">
  <a class="btn btn-primary btn-lg col-5 animated jackInTheBox" href="/table" role="button">Find a Freelancer</a>
  <a class="btn btn-primary btn-lg col-5 animated jackInTheBox" href="/form" role="button">Become a Freelancer</a>
  </div>
</div>
