<div class="jumbotron text-center">
    <h1 class="display-4">Freelancers!</h1>
    <hr class="my-4">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Freelancer</th>
                <th scope="col">Name</th>
                <th scope="col">Position/Trade</th>
                <th scope="col">Location</th>
                <th scope="col">Rate/Hr</th>
                <th scope="col">Email Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>name</td>
                <td>position</td>
                <td>location</td>
                <td>rate</td>
                <td>email address</td>
            </tr>
        </tbody>
    </table>
</div>